header {
    background: hsl(0,0%,30%);
    color: white;
    padding: 20px;
}

.todo-container {
    margin-top: 30%;
    width:  50%;
    margin-left: auto;
    margin-right: auto;
    /* border-style: solid; */
    text-align: center;
    
}

.newtodo {
  
    width: 100%;
}

#list {
    margin-bottom: 0;
}

.list-item {
    list-style: none;
    width: 100%;
    padding: 20px;
    display: inline-flex;

    
}

.delete-button {
    display: inline-flex;
    position: absolute;
    right:10px;
}

.edit-button {
    display: inline-flex;
    position: absolute;
    right:60px;
    margin-right: 10px;
}
.done-button {
    display: inline-flex;
    position: absolute;
    right:60px;
}

#edit-box {
    display: none;
}


.list-text {
   
    
    width: 80%;
    text-align: left;
    padding-bottom: 5px;
    overflow-wrap: anywhere;
    
}

.edit-bar {
    
}

#login-form {
    display: none;
    position: absolute;
    left: 30%;
    top: 30%;
    padding: 40px;
    width: 40%;
    margin:0;
    opacity:1.0;
    z-index: 9999;
    
}

#loginFormButton {
    
    position: ab;
    margin:0;
    margin-top: 10%; 
}

#login-overlay {

    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color:rgba(52, 54, 51,0.4);
    z-index: 9999;
    
}

.form-element {
    margin: 10px;
}